*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    height:100vh;
    background-image: url("../../public/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.title{
    background-color: rgba(10, 3, 3, 0.721);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: white;
}

.viewCustomer{
    background-color: rgba(10, 3, 3, 0.721);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: white;
}